<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="xigen" sortOrder="500" translate="label">
			<label>Xigen</label>
		</tab>
		<section id="smarter_log" showInDefault="1" showInStore="0" showInWebsite="0" sortOrder="10" translate="label">
			<label>Smarter Log</label>
			<tab>xigen</tab>
			<resource>Xigen_SmarterLog::config_xigen_smarterlog</resource>
			<group id="smarter_log" showInDefault="1" showInStore="0" showInWebsite="0" sortOrder="10" translate="label">
				<label>Smarter Log</label>
				<field id="enabled" showInDefault="1" showInStore="0" showInWebsite="0" sortOrder="10" translate="label" type="select">
					<label>Enabled</label>
					<source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
				</field>
			</group>
		</section>
	</system>
</config>
